<h1>Password Generator</h1>

<div>
  <label>Enter Length</label>
  <input (input)="fetchSize($event)" type="number" max="2" />
</div>

<div>
  <label>Use letters</label>
  <input (change)="useLetter()" type="checkbox" />
</div>

<div>
  <label>Use Numbers</label>
  <input (change)="useNumber()" type="checkbox" />
</div>

<div>
  <label>Use Symbols</label>
  <input (change)="useSymbol()" type="checkbox" />
</div>

<button
  (click)="generatePass()"
  [disabled]="
    !(
      (includeLetters == true ||
        includeNumber == true ||
        includeSymbol == true) &&
      length != 0
    )
  "
>
  Generate
</button>

<div>
  <label>Your Password</label>
  <input type="text" [value]="password" />
</div>
