<div class="container">
  <div class="columns is-centered mt-6">
    <div class="box column is-one-third px-5 pt-5 pb-4">
      <!-- password -->
      <div class="field">
        <label class="label">Your Password</label>
        <div class="control">
          <input
            class="input"
            (input)="fetchSize($event)"
            type="text"
            [value]="password"
            disabled
          />
        </div>
      </div>

      <!-- length -->
      <div class="field">
        <label class="label">Enter Length</label>
        <div class="control">
          <input
            class="input"
            (input)="fetchSize($event)"
            type="number"
            max="2"
          />
        </div>
      </div>

      <!-- letters -->
      <div class="field">
        <label class="label">Use letters</label>
        <div class="control">
          <label class="radio">
            <input
              type="radio"
              name="letterField"
              value="true"
              (click)="useLetter($event)"
            />
            Yes
          </label>
          <label class="radio">
            <input
              type="radio"
              name="letterField"
              value="false"
              checked
              (click)="useLetter($event)"
            />
            No
          </label>
        </div>
      </div>

      <!-- <div class="field">
        <label class="label">Use letters</label>
        <div class="control">
          <input class="checkbox" type="checkbox" (change)="useLetter()" />
        </div>
      </div> -->

      <!-- numbers -->
      <div class="field">
        <label class="label">Use Numbers</label>
        <div class="control">
          <label class="radio">
            <input
              type="radio"
              name="numberField"
              value="true"
              (click)="useNumber($event)"
            />
            Yes
          </label>
          <label class="radio">
            <input
              type="radio"
              name="numberField"
              value="false"
              checked
              (click)="useNumber($event)"
            />
            No
          </label>
        </div>
      </div>

      <!-- <div class="field">
        <label class="label">Use Numbers</label>
        <div class="control">
          <input class="checkbox" (change)="useNumber()" type="checkbox" />
        </div>
      </div> -->

      <!-- symbols -->
      <div class="field">
        <label class="label">Use Symbols</label>
        <div class="control">
          <label class="radio">
            <input
              type="radio"
              name="symbolField"
              value="true"
              (click)="useSymbol($event)"
            />
            Yes
          </label>
          <label class="radio">
            <input
              type="radio"
              name="symbolField"
              value="false"
              checked
              (click)="useSymbol($event)"
            />
            No
          </label>
        </div>
      </div>

      <!-- <div class="field">
        <label class="label">Use Symbols</label>
        <div class="control">
          <input class="checkbox" (change)="useSymbol()" type="checkbox" />
        </div>
      </div> -->

      <!-- button -->
      <button
        class="button is-danger"
        (click)="generatePass()"
        [disabled]="
          !(
            (includeLetters == true ||
              includeNumber == true ||
              includeSymbol == true) &&
            length != 0
          )
        "
      >
        Generate
      </button>
      <!-- end  -->
    </div>
  </div>
</div>
